@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.footer-main{
    background-color: #24263B;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-main-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.icon{
   color: white;
}

.icon:hover{
    color: #FF5823;
   
 }

 .email{
    color: white;
    opacity: 0.75;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
 }